.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.border-table {
  border-collapse: collapse; 
  border: 2px solid green;    
}

.border-table th, .border-table td {
  border: 2px solid #8B008B; 
  padding: 8px;           
}
